html {
    height: 100%;
}

#bkg {
    background-color: #804000;
    width: 80%;
    height: 100%;
    z-index: -1;
}

.aboutMain {
    display:flex;
    flex-direction:row;
}

.header {
 display:flex;
 justify-content:center;
 font-family: 'Great Vibes', cursive;
}

.footer {
 display:flex;
 justify-content:space-around;
}

.navbar {
    display:flex;
    justify-content:space-around;
    background-color:#666600;
    margin: auto;
    flex-direction: row;
}

.divider {
     border-radius:50%;
    width:20px;
    height:20px;
    background-color: black;
}

body {
    height: 100%;
    background-color: white;
}
a {
    color:white;
    text-decoration: none;
}

.thumbnail-image {
    width: 200px;
    height: 200px;
}

.navbar {
 display:flex;
 justify-content:space-around;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}
